<?xml version='1.0' encoding='utf-8'?>
<plugin id="app.login.ids.native_oauth_ids" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeOauthIds</name>
    <js-module name="NativeOauthIds" src="www/NativeOauthIds.js">
        <clobbers target="cordova.plugins.NativeOauthIds" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeOauthIds">
                <param name="android-package" value="app.login.ids.native_oauth_ids.NativeOauthIds" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/NativeOauthIds.kt" target-dir="src/org/apache/cordova/NativeOauthIds" />
        <source-file src="src/android/Login.kt" target-dir="src/org/apache/cordova/NativeOauthIds" />
        <source-file src="src/android/build-extras.gradle" target-dir="." />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.NoActionBar" android:label="Login" android:name="app.login.ids.native_oauth_ids.Login"></activity>
        </config-file>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NativeOauthIds">
                <param name="ios-package" value="NativeOauthIds" />
            </feature>
        </config-file>
        <source-file src="src/ios/NativeOauthIds.swift" />
        <source-file src="src/ios/CieIDWKWebViewController.swift" />
        <source-file src="src/ios/IdentityServer.swift" />
        <source-file src="src/ios/QueryString.swift" />
        <source-file src="src/ios/StringURLValidator.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
    </platform>
</plugin>