<?xml version='1.0' encoding='utf-8'?>
<plugin id="native-oauth-ids" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeOauthIds</name>
    <repo>https://github.com/asoftwarefactory/native_oauth_ids_ionic</repo>
    <issue>https://github.com/asoftwarefactory/native_oauth_ids_ionic/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="cordova-android" version=">=9.0.0" />
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>

    <platform name="android">
        <js-module name="NativeOauthIds" src="www/NativeOauthIds.js">
            <clobbers target="NativeOauthIds" />
        </js-module>
        <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
        <hook type="after_platform_add" src="hooks/support-kotlin.js" />
        <apply-plugin>kotlin-android-extensions</apply-plugin>
        <apply-plugin>kotlin-kapt</apply-plugin>

        <!-- Cleanup Kotlin source on uninstall -->
        <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
        <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeOauthIds">
                <param name="android-package" value="native-oauth-ids.NativeOauthIds" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/NativeOauthIds.kt"
            target-dir="app/src/main/java/cordova/plugin" />
        <source-file src="src/android/Login.kt" target-dir="app/src/main/java/cordova/plugin" />
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:exported="true" android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoActionBar" android:label="Login"
                android:name="native-oauth-ids.Login"></activity>
        </config-file>
    </platform>
    <platform name="ios">
        <js-module name="NativeOauthIds" src="www/NativeOauthIds.js">
            <clobbers target="NativeOauthIds" />
        </js-module>
        <config-file parent="/*" target="config.xml">
            <feature name="NativeOauthIds">
                <param name="ios-package" value="NativeOauthIds" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>None</string>
                    <key>CFBundleURLName</key>
                    <string>$BUNDLE_ID</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$BUNDLE_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="SP_URL_SCHEME">
            <string>$BUNDLE_ID</string>
        </config-file>

        <source-file src="src/ios/NativeOauthIds.swift" />
        <source-file src="src/ios/CieIDWKWebViewController.swift" />
        <source-file src="src/ios/IdentityServer.swift" />
        <source-file src="src/ios/QueryString.swift" />
        <source-file src="src/ios/StringURLValidator.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
    </platform>
</plugin>